﻿@using BAGC.WebSites.Main.Helpers
@model BAGC.Proxy.BagcServices.FamilyMemberModel

@{
    ViewBag.Title = "Create Family";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Family</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FamilyMemberModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MembershipTypeId, htmlAttributes: new{ @class="control-label col-md-2"} )
            <div class="col-md-10">
                @Html.DisplayForMemberTypes(Model.MembershipTypeId.GetValueOrDefault(0))
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Address Line 1</span>
            <div class="col-md-10">
                <input id="AddressLine1" name="AddressLine1" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Address Line 2</span>
            <div class="col-md-10">
                <input name="AddressLine2" id="AddressLine2" type="text" />
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Address Line 3</span>
            <div class="col-md-10">
                <input name="AddressLine3" id="AddressLine3" type="text" />
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">City</span>
            <div class="col-md-10">
                <input name="City" id="City" type="text" />
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">State Or Province</span>
            <div class="col-md-10">
                @Html.DisplayForStates("");
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Zip Code</span>
            <div class="col-md-10">
                <input name="ZipCode" id="ZipCode" type="text" />
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Phone: </span>
            <div class="col-md-10">
                <input name="PhoneNumber" id="PhoneNumber" type="text" />
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Email: </span>
            <div class="col-md-10">
                <input name="Email" id="Email" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
