﻿@model BAGC.Proxy.BagcServices.FamilyMemberRegistration

@{
    ViewBag.Title = "DeleteRegitration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Regitration</h2>

<h3>Are you sure you want to delete this regitration?</h3>
<div>
    <h4>FamilyMemberRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AmountDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyMemberId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyMemberId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
