﻿@model BAGC.Proxy.BagcServices.FamilyMemberRegistration

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Details</h2>

<div>
    <h4>Family Member Registration Details</h4>
    <hr />
    <div>
        @if(Model.RegistrationId != 0)
        { 
            <a href="/Family/EditRegistration?eventId=@Model.EventId&familyMemberId=@Model.FamilyMemberId">Edit Registration</a>
        }
        <a href="/Family/EditFamilyMember?id=@Model.FamilyMemberId">Edit Family Member</a>
    </div>    
    <dl class="dl-horizontal">
        <dt>
            Address Line 1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.AddressLine1)
        </dd>

        <dt>
            Address Line 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.AddressLine2)
        </dd>

        <dt>
            Address Line 3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.AddressLine3)
        </dd>

        <dt>
            Amount Due
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.AmountDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Email)
        </dd>

        <dt>
            
        </dt>

        <dd>
            @if (Model.EventId > 0)
            {
                <a href="/Event/Details?EventId=@Model.EventId&FamilyMemberId=@Model.FamilyMemberId">Event Details</a>
            }
        </dd>

        <dt>
           First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.PhoneNumber)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Address.StateOrProvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StateOrProvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
