﻿@using BAGC.WebSites.Main.Helpers
@model BAGC.Proxy.BagcServices.FamilyMemberRegistration

@{
    ViewBag.Title = "Edit Rate Type";
}

<h2>Edit Rate For Family Member</h2>

<div>
    <a onclick="javascript: parent.$.fancybox.close();">Close Dialog</a>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FamilyMemberRegistration</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     
        <div class="form-group">
            @Html.LabelFor(model => model.FamilyMemberId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FamilyMemberId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RateTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayForRatings(Model.RateTypeId, Model.MembershipType.MembershipTypeId)
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">
                Birthday Verification:
            </span>
            <div class="col-md-10">
                <input name="BirthDate" id="BirthDate" type="text" class="calendar"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" onclick="parent.$.fancybox.close();"/>
            </div>
        </div>
    </div>
}

