﻿@model IEnumerable<BAGC.Proxy.BagcServices.FamilyMemberRegistration>

@{
    ViewBag.Title = "Family Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Family Details</h2>

<p>
    @if (Model.Any())
    {
        @Html.ActionLink("Create New Family Member", "CreateFamilyMember", new {familyId = Model.First().FamilyId})
        <br/>
        <a href="/Cart/Index?familyId=@Model.First().FamilyId">Check Out</a>
    }
</p>
<table class="table">
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.FamilyMemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.RateTypeId)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>Amount</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyMemberId)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountDue)
        </td>
        <td>
            <a href="/Family/EditRateForFamilyMember?familyMemberId=@item.FamilyMemberId" class="fancylinkrefreshonclose">Change Rate Type</a>
           
            @Html.ActionLink("Family Member Details", "Details", new { id= item.FamilyMemberId}) |
            
          
        </td>
    </tr>
}
    <tr><td></td><td></td><td></td><td></td><td>Total</td><td>@Model.Sum(x => x.AmountDue)</td><td></td></tr>
</table>
