﻿@model IEnumerable<BAGC.Proxy.BagcServices.FamilyMemberModel>

@{
    ViewBag.Title = "FamilyMemberIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Family Member</h2>

<p>
    @Html.ActionLink("Create New", "CreateFamilyMember")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyMemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateTypeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyMemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateTypeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditFamilyMember", new { id=item.FamilyId }) |
            @Html.ActionLink("Details", "FamilyDetails", new { id=item.FamilyId  }) |
            @Html.ActionLink("Delete", "DeleteFamily", new { id=item.FamilyId })
        </td>
    </tr>
}

</table>
