﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/angular/AppModule/FamilySearchApp.js")

<h2>Family Registrations</h2>

<br/>
<a href="/Family/CreateFamily">Create New Family Member</a>

<div ng-app="FamilySearchApp" ng-controller="FamilySearchController">
    <table>
        <tr><th>First Name</th><th>Last Name</th><th></th></tr>
        <tr><td><input type="text" id="txtFirtsName" ng-model="FirstName" /></td><td><input type="text" id="txtLastName" ng-model="LastName" /></td>
        <td><input type="button" id="btnSearch" ng-click="goList()" value="Search"/></td></tr>
    </table>
    <div ng-repeat="p in people">
        <a href="/Family/FamilyDetails?id={{p.FamilyId}}" >{{p.FirstName}}&nbsp;{{p.LastName}}&nbsp;</a>
        <a href="/Registration/Index?familyId={{p.FamilyId}}">View Previous Regitsrations</a>
        <a href="/Family/EditFamily?familyId={{p.FamilyId}}">Edit Family</a>
    </div>
</div>
