﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/angular/AppModule/EventsApp.js")
<h2>Events</h2>

<a href="/Event/Create">Create New</a>

<div ng-app="EventsApp" ng-controller="EventListController">
    <div>
        Search On Description: <input type="text" id="query" ng-model="Query"/> <input type="button" ng-click="goList()" value="Search Events"/>
    </div>
    <table>
        <tr ng-repeat="ev in Events">
            <td><a href="/Event/Details?id={{ev.EventId}}">{{ev.Description}}</a></td>
        </tr>
    </table>
</div>