﻿@model BAGC.Models.Family
 

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h2>Browse</h2>

<ul>
    @foreach (var familyMember in Model.FamilyMembers)
    {
        @*<li>
            @familyMember.FirstName
        </li>*@
    <li>
        @Html.ActionLink(familyMember.FirstName, "Edit", "FamilyMembers", new { id = familyMember.FamilyMemberID }, null) <br /> 
    </li>
    }
</ul>

