﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Lead Software Developer:</strong>   <a href="mailto:alex.a.wood@gmail.com">Alexander Wood - Wooden Software Development LLC</a><br />
    <strong>Director Of The Project:</strong> <a href="mailto:Marketing@example.com">Sanatan Datta - Marketing@example.com</a>
</address>