﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Club Registeration System</h2>
        <p>
            Add some <a href="/MembershipType/Index">Membership Types</a>
            Click <a href="/Rate/Index">Rate Type</a> to make a new payment type, Click <a href="/Event/Index">Event</a>
            to Add or Edit Events, and Click <a href="/Family/Index">Family List</a> to create a family and register families. 
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        
    </div>
</div>