﻿@model  BAGC.ViewModels.ShoppingCartViewModel 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="/Scripts/jquery-1.4.4.min.js" type="text/javascript">

</script>
<script type="text/javascript">
$(function () {
// Document.ready -> link up remove event handler
$(".RemoveLink").click(function () {
// Get the id from the link
var recordToDelete = $(this).attr("data-id");
if (recordToDelete != '') {
// Perform the ajax post
$.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
function (data) {
// Successful requests get here
// Update the page elements
if (data.ItemCount == 0) {
$('#row-' + data.DeleteId).fadeOut('slow');
} else {
$('#item-count-' + data.DeleteId).text(data.ItemCount);
}
$('#cart-total').text(data.CartTotal);
$('#update-message').text(data.Message);
$('#cart-status').text('Cart (' + data.CartCount + ')');
});
}
});
}); 
     
function handleUpdate() {
// Load and deserialize the returned JSON data
var json = context.get_data();
var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);
// Update the page elements
if (data.ItemCount == 0) {
$('#row-' + data.DeleteId).fadeOut('slow');
} else {
$('#item-count-' + data.DeleteId).text(data.ItemCount);
}
$('#cart-total').text(data.CartTotal);
$('#update-message').text(data.Message);
$('#cart-status').text('Cart (' + data.CartCount + ')');
}
</script>*@


<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    @*@Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout", new { Id = Model.FamilyID }, null)*@

    @Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout", new { familyID = Model.FamilyID, Event = Model.Event, year = Model.Year }, null) 
</p>


<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Event
        </th>
        <th>
           Rate Type
        </th>
        <th>
           Amount Due
        </th>
    </tr>
    
     @*@foreach (var item in Model.) {
    
    @*<tr id="row-@item.RecordId">
        <td>
            @Html.ActionLink(item.Album.Title, "Details", "Store", new { id = item.AlbumId }, null)
        </td>
        <td>
            @item.Album.Price
        </td>
        <td id="item-count-@item.RecordId">
            @item.Count
        </td>
        <td>
            <a href="#" class="RemoveLink" data-id="@item.RecordId">Remove from cart</a>
        </td>
    </tr> 
         }
   *@
   
   

 @foreach (var item in Model.CartItems)
                        {
    <tr>
        <td> @item.FirstName  &nbsp;&nbsp; @item.LastName</td>   <td> @item.EventID </td>   <td> @item.RateTypeID </td>  <td> @item.AmountDue </td> 
        
        @*<td>
            @Html.ActionLink("Register Another Member", "Browse", "Families",  new { Id = @item.FamilyID }, null)
        </td>*@
    </tr>

 }
 
</table>

<div>

  @*  @Html.ActionLink("Register Another Member", "Browse", "Families", new { familyID = Model.FamilyID, Event = Model.Event, year = Model.Year }, null)*@  
    @Html.ActionLink("Register Another Member", "Browse", "Families", new { id = Model.FamilyID }, null)

       
   
</div>