﻿
@{
    ViewBag.Title = "ShowConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>



<div class="jumbotron">
    @ViewBag.ConfirmationMessage
</div>
<div>
    Next Steps
</div>
<div>
    @foreach (var kv in ((Dictionary<string, string>) ViewBag.Actions))
    {
        <a href="@kv.Value">@kv.Key</a> <br/>
    }
</div>