﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>BAGC Registration System </h4>
<br /><br />

<p>
    @Html.ActionLink("Add Rate", "Create", "Rates") 
    </p>
<p>
    @Html.ActionLink("Create Family", "Create", "Families" )


   @* <input type="button" title="CREATE" value="Add New" onclick="location.href='@Url.Action("Create", "HomeHealth")'" />*@
    @*<input type="button" title="CREATE" value="C" onclick="location.href='@Url.Action("Create", "HomeHealth", new { id = item.ID })'" />*@
    @*<a href="@Url.Action("Delete", "movies", new { id = item.ID })" title="Edit">
            <img src="../../Content/Images/Delete.png" />
        </a>*@
</p>

<p>
    @Html.ActionLink("Register", "Create", "Register")
</p>