﻿@model BAGC.Proxy.BagcServices.CartModel

@{
    ViewBag.Title = "CartDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CartDetails</h2>

<div>
    <h4>CartModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AmountDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyMemberId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyMemberId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.CartId }) |
    @Html.ActionLink("Back to List", "Index", "Events")
</p>
