﻿@using System.Web.UI.HtmlControls
@model IEnumerable<BAGC.Proxy.BagcServices.CartModel>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart For Family</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AmountDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyMemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyMemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountDue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= item.CartId }) |
            @Html.ActionLink("Details", "CartDetails", new { id= item.CartId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CartId })
          
        </td>
    </tr> 
}
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>Total Amount</td><td>$@Model.Sum(x => x.AmountDue)</td><td></td></tr>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <table>
            <tr><td>Amount Paid</td><td><input type="text" id="AmountPaid" name="AmountPaid"/></td></tr>
            <tr><td>Total Discounts For Rates</td><td>&nbsp; $@ViewBag.TotalDiscount</td></tr>
            <tr><td>Registration Amount Due</td><td>&nbsp; $<input type="text" id="RegistrationAmountDue" name="RegistrationAmountDue" readonly="readonly" value="@(Model.Sum(x => x.AmountDue) - (decimal) ViewBag.TotalDiscount)" /></td></tr>
            <tr><td>Payment Type</td><td>
                                         <select id="PaymentMethod" name="PaymentMethod" >
                                             <option value="Cash">Cash</option>
                                             <option value="Check">Check</option>    
                                         </select>
                                     </td></tr>
            <tr>
                <td>Payment Identitfier or Number</td><td><input type="text" id="PaymentIdentifier" name="PaymentIdentifier"/></td>
            </tr>
            <tr><td>Comments</td><td><textarea id="Comments" name="Comments"></textarea></td></tr> 
        </table>
  
        <input type="submit" id="btnSave" value="Check Out"/>
    </div>
}