﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery.fancybox.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/angular-route.min.js")
    @Scripts.Render("~/Scripts/fancybox/jquery.mousewheel-3.0.6.pack.js")
    @Scripts.Render("~/Scripts/fancybox/jquery.fancybox.pack.js")
    <script type="text/javascript">
        $(document).ready(function() {
            $('a.fancylinkrefreshonclose').fancybox({                
                type: 'iframe',
                modal: true,
                afterClose: function() {
                    window.location.reload();
                }
            });
            $('a.fancylink').fancybox({
                type: 'iframe',
                modal: true
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Family Event Registration System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Families", "Index", "Family")</li>
                    <li>@Html.ActionLink("Rate Types", "Index", "Rate")</li>
                    <li>@Html.ActionLink("Events", "Index", "Event")</li>
                    <li>@Html.ActionLink("Membership Types", "Index", "MembershipType")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Club Event Maintenance System</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function() {
            $('.calendar').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '-100:+1'
            });
        });
    </script>
</body>
</html>
